Final Deliverables/Node Red/NodeRedflow.json
[{"id":"49cccaa48d3e703f","type":"tab","label":"Medicine dashboard","disabled":false,"info":"","env":[]},{"id":"44691c39b6de5088","type":"ui_form","z":"49cccaa48d3e703f","name":"Dashboard Sign-In","label":"","group":"b82da486.9fc8d8","order":1,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":270,"y":360,"wires":[["316aaf73e1588d77","0aeead1756cd325a","c6ca1cf30d1708c9"]]},{"id":"a74e1ed0a5b5f310","type":"debug","z":"49cccaa48d3e703f","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"8910a526708f189b","type":"comment","z":"49cccaa48d3e703f","name":"Sign-In Section","info":"","x":270.00000762939453,"y":302.99999618530273,"wires":[]},{"id":"316aaf73e1588d77","type":"function","z":"49cccaa48d3e703f","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":320,"wires":[["a74e1ed0a5b5f310"]]},{"id":"0aeead1756cd325a","type":"debug","z":"49cccaa48d3e703f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":480,"wires":[]},{"id":"c6ca1cf30d1708c9","type":"function","z":"49cccaa48d3e703f","name":"","func":"var username = msg.payload.username ;\nvar password = msg.payload.password ; \nglobal.set(\"uname\",username);\n//global.set(\"pwd\",password)\nmsg.payload=username+\" \"+password;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":380,"wires":[["6e65159ab0e3f253","0aeead1756cd325a"]]},{"id":"6e65159ab0e3f253","type":"cloudant in","z":"49cccaa48d3e703f","name":"","cloudant":"b55b13dcd2074faf","database":"login_credentials","service":"node-red-xyoqz-2022--cloudant-1667636980887-73374","search":"_id_","design":"","index":"","x":670,"y":380,"wires":[["078879794c96e7b2","b12ecdfa056e8342"]]},{"id":"9f355cf228f65868","type":"ibmiot out","z":"49cccaa48d3e703f","authentication":"apiKey","apiKey":"6ab6faf38e0ed66a","outputType":"evt","deviceId":"12345","deviceType":"IOT_DEVICE","eventCommandType":"login","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1460,"y":260,"wires":[]},{"id":"078879794c96e7b2","type":"function","z":"49cccaa48d3e703f","name":"Account Verification","func":"if(msg.payload!=null)\nmsg.payload=0\nelse\nmsg.payload=1\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 2;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":440,"wires":[["4acf2f982436fac8"]]},{"id":"4acf2f982436fac8","type":"switch","z":"49cccaa48d3e703f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":870,"y":380,"wires":[["2fe01105c5412235","64d93fc815171c4f"],["00b871dde38240b0"],["73f592c4df0f64e6"]]},{"id":"2fe01105c5412235","type":"function","z":"49cccaa48d3e703f","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_MedicineData\" ],\n    hide : [\"Dashboard_Signin\",\"Dashboard_Register\"]\n    }\n};\nflow.set(\"regClick\",false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":400,"wires":[["078dedd908d85217"]]},{"id":"00b871dde38240b0","type":"ui_toast","z":"49cccaa48d3e703f","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1500,"y":360,"wires":[[]]},{"id":"256fbf251406a2cb","type":"ui_toast","z":"49cccaa48d3e703f","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"System In Use.","name":"System In-Use Dialog","x":1480,"y":440,"wires":[[]]},{"id":"73f592c4df0f64e6","type":"function","z":"49cccaa48d3e703f","name":"= 3 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":460,"wires":[["256fbf251406a2cb"]]},{"id":"078dedd908d85217","type":"ui_ui_control","z":"49cccaa48d3e703f","name":"Go to Sensor/History Group","x":1480,"y":400,"wires":[[]]},{"id":"67520afb7ff63cc1","type":"comment","z":"49cccaa48d3e703f","name":"Medicine Data Collection","info":"","x":330,"y":1280,"wires":[]},{"id":"9cfecc1562f4d8e8","type":"function","z":"49cccaa48d3e703f","name":"","func":"var d=msg.payload.date\nvar t=msg.payload.time\nvar n=msg.payload.name\nvar name=global.get(\"uname\")\nmsg.payload={\n    \"_id\":name+\" \"+d+\" \"+t,\n    \"name\":n,\n    \"date\":d,\n    \"time\":t\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1420,"wires":[["0d89c9c46549cce7","0ce77d95b7ef1884","20e598597ff6bed6","7350b659ce381395"]]},{"id":"0d89c9c46549cce7","type":"cloudant out","z":"49cccaa48d3e703f","name":"","cloudant":"b55b13dcd2074faf","database":"medicine_details","service":"node-red-xyoqz-2022--cloudant-1667636980887-73374","payonly":true,"operation":"insert","x":1010,"y":1380,"wires":[]},{"id":"0ce77d95b7ef1884","type":"function","z":"49cccaa48d3e703f","name":"","func":"msg.payload={\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1420,"wires":[["1d302ae1ee0a4f30"]]},{"id":"1d302ae1ee0a4f30","type":"delay","z":"49cccaa48d3e703f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":520,"y":1520,"wires":[["415c95f2c5dfc3bd"]]},{"id":"415c95f2c5dfc3bd","type":"ui_form","z":"49cccaa48d3e703f","name":"","label":"","group":"c35e46a8.b04ce8","order":1,"width":0,"height":0,"options":[{"label":"Medicine Name","value":"name","type":"text","required":true,"rows":null},{"label":"Medicine date(YYYY-MM-DD)","value":"date","type":"text","required":true,"rows":null},{"label":"Medicine time(HH:MM)","value":"time","type":"text","required":true,"rows":null}],"formValue":{"name":"","date":"","time":""},"payload":"","submit":"add","cancel":"reset","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":810,"y":1520,"wires":[["20e598597ff6bed6","9cfecc1562f4d8e8"]]},{"id":"20e598597ff6bed6","type":"debug","z":"49cccaa48d3e703f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":1460,"wires":[]},{"id":"2354d04a2ab45739","type":"inject","z":"49cccaa48d3e703f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":1620,"wires":[["6ef170a9b6b2352a"]]},{"id":"6ef170a9b6b2352a","type":"function","z":"49cccaa48d3e703f","name":"","func":"var d=new Date();\nvar utc=d.getTime()+(d.getTimezoneOffset()* 60000);\nvar offset=5.5\nnewDate=new Date(utc+(3600000*offset));\nvar n=newDate.toISOString()\nvar date=n.slice(0,10);\nvar time=n.slice(11,16)\nglobal.set('time',time)\nvar uname=global.get(\"uname\")\nmsg.payload=uname+\" \"+date+\" \"+time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1620,"wires":[["fb9f27c5956f0749"]]},{"id":"fb9f27c5956f0749","type":"cloudant in","z":"49cccaa48d3e703f","name":"","cloudant":"b55b13dcd2074faf","database":"medicine_details","service":"node-red-xyoqz-2022--cloudant-1667636980887-73374","search":"_id_","design":"","index":"","x":750,"y":1620,"wires":[["9d485268098014eb"]]},{"id":"9d485268098014eb","type":"switch","z":"49cccaa48d3e703f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":1600,"wires":[[],["a0330b20d0e91747","0cae8d086b761e3b"]]},{"id":"a0330b20d0e91747","type":"function","z":"49cccaa48d3e703f","name":"","func":"flow.set(\"med_details\",{\"name\":msg.payload.name,\"date\":msg.payload.date,\"time\":msg.payload.time})\nmsg.payload={\"n\":msg.payload.name}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1600,"wires":[["40ac8c39f471a132","20640fb40a74f562"]]},{"id":"40ac8c39f471a132","type":"debug","z":"49cccaa48d3e703f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":1580,"wires":[]},{"id":"20640fb40a74f562","type":"ibmiot out","z":"49cccaa48d3e703f","authentication":"apiKey","apiKey":"6ab6faf38e0ed66a","outputType":"cmd","deviceId":"12345","deviceType":"IOT_DEVICE","eventCommandType":"test","format":"json","data":"1","qos":0,"name":"IBM IoT","service":"registered","x":1520,"y":1440,"wires":[]},{"id":"395f5619f9c473ca","type":"comment","z":"49cccaa48d3e703f","name":"Session Management - 1 hour ","info":"","x":340,"y":920,"wires":[]},{"id":"1adc1083bdcb9dbd","type":"inject","z":"49cccaa48d3e703f","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":1100,"wires":[["08097b9e1993ff6f","965a359459189a84"]]},{"id":"08097b9e1993ff6f","type":"function","z":"49cccaa48d3e703f","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar reg=flow.get(\"regClick\")||false;\nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 3600000; //1 hour\nif(reg)\nmsg.payload=3\nelse if ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1060,"wires":[["5d9e4a0587ae686e"]]},{"id":"5d9e4a0587ae686e","type":"switch","z":"49cccaa48d3e703f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":630,"y":980,"wires":[["0ea849a62dce66a3"],["051e4b3065af8499"],["8f8eece24abda49d"],["b825eb1813ff578a"]]},{"id":"0ea849a62dce66a3","type":"function","z":"49cccaa48d3e703f","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please sign in again!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":960,"wires":[["2c16948d33a2646b","3f114f15b2cc8317"]]},{"id":"2c16948d33a2646b","type":"ui_toast","z":"49cccaa48d3e703f","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Session End","name":"Time-Out Dialog","x":1280,"y":920,"wires":[[]]},{"id":"4e0ddb2c7a1ecdf4","type":"ui_ui_control","z":"49cccaa48d3e703f","name":"Go to Sign in Group","x":1300,"y":960,"wires":[[]]},{"id":"3f114f15b2cc8317","type":"function","z":"49cccaa48d3e703f","name":"Sign-In Redirection","func":"var msg = {};\nflow.set(\"regClick\",false)\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_MedicineData\", \n            \"Dashboard_Register\"],\n    show : [\"Dashboard_Signin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":900,"wires":[["4e0ddb2c7a1ecdf4"]]},{"id":"edc4580b9b81bb1d","type":"ui_toast","z":"49cccaa48d3e703f","position":"bottom right","displayTime":"5","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Timer","name":"Display Remaining Time","x":870,"y":1200,"wires":[]},{"id":"965a359459189a84","type":"function","z":"49cccaa48d3e703f","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((3600000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer == 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 1000 && remainingSecs>0) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1160,"wires":[["edc4580b9b81bb1d"]]},{"id":"16bf4ea484cc7dc4","type":"ui_ui_control","z":"49cccaa48d3e703f","name":"Stay in Sensor Group","x":1300,"y":1000,"wires":[[]]},{"id":"051e4b3065af8499","type":"function","z":"49cccaa48d3e703f","name":"Sensor/History Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"Dashboard_MedicineData\"],\n    hide : [\"Dashboard_Signin\",\"Dashboard_Register\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1000,"wires":[["16bf4ea484cc7dc4"]]},{"id":"8f8eece24abda49d","type":"function","z":"49cccaa48d3e703f","name":"Signin Goup","func":"var msg = {};\nmsg.payload = { group: {\n    hide : [\"Dashboard_MedicineData\"],\n    show : [\"Dashboard_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":1040,"wires":[["af7db3c4b900a2a9"]]},{"id":"af7db3c4b900a2a9","type":"ui_ui_control","z":"49cccaa48d3e703f","name":"Go to Sign in Group","x":1300,"y":1040,"wires":[[]]},{"id":"5c9092cd76371f66","type":"ui_button","z":"49cccaa48d3e703f","name":"","group":"c35e46a8.b04ce8","order":3,"width":0,"height":0,"passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":590,"y":860,"wires":[["14be3643eadf54a4"]]},{"id":"14be3643eadf54a4","type":"function","z":"49cccaa48d3e703f","name":"sign out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"You have been logged out successfully!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":860,"wires":[["3f114f15b2cc8317","2c16948d33a2646b"]]},{"id":"64d93fc815171c4f","type":"function","z":"49cccaa48d3e703f","name":"iot log","func":"msg.payload={\"username\":global.get(\"uname\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":320,"wires":[["9f355cf228f65868"]]},{"id":"520b9ecd29cb8b7c","type":"ui_form","z":"49cccaa48d3e703f","name":"Dashboard Register","label":"","group":"e9ff2fa2bff7c00f","order":1,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"register","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":340,"y":660,"wires":[["1d53a3794f2ab6a6"]]},{"id":"1d53a3794f2ab6a6","type":"function","z":"49cccaa48d3e703f","name":"","func":"var d=msg.payload.username\nvar t=msg.payload.password\nglobal.set(\"uname\",d);\nmsg.payload={\n    \"_id\":d+\" \"+t,\n    \"name\":d,\n    \"password\":t\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":660,"wires":[["b286583096208fa3","51ab651071640bb8","2fe01105c5412235"]]},{"id":"b286583096208fa3","type":"cloudant out","z":"49cccaa48d3e703f","name":"","cloudant":"b55b13dcd2074faf","database":"login_credentials","service":"node-red-xyoqz-2022--cloudant-1667636980887-73374","payonly":true,"operation":"insert","x":1170,"y":600,"wires":[]},{"id":"494e31e2c618cbee","type":"ui_toast","z":"49cccaa48d3e703f","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"User registered succesfully","name":"Registration Dialog","x":1450,"y":680,"wires":[[]]},{"id":"51ab651071640bb8","type":"function","z":"49cccaa48d3e703f","name":"Sign In","func":"msg.payload = \"You have been registered successfully!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":680,"wires":[["494e31e2c618cbee"]]},{"id":"9aa6f4725b5def21","type":"comment","z":"49cccaa48d3e703f","name":"Registration Section","info":"","x":290,"y":540,"wires":[]},{"id":"bf0324b719b1ffc2","type":"ui_button","z":"49cccaa48d3e703f","name":"","group":"b82da486.9fc8d8","order":2,"width":0,"height":0,"passthru":false,"label":"New User?Register","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":350,"y":720,"wires":[["0e4d42a95d1a869b"]]},{"id":"0e4d42a95d1a869b","type":"function","z":"49cccaa48d3e703f","name":"Register Redirection","func":"flow.set(\"regClick\",true);\n/* ui-control payload */\n// msg.payload = { group: {\n    \n//     hide : [\"Dashboard_Signin\"],show:[\"Dashboard_Register\"]\n// }\n// };\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":720,"wires":[[]]},{"id":"b825eb1813ff578a","type":"function","z":"49cccaa48d3e703f","name":"Register Redirection","func":"\n/* ui-control payload */\nmsg.payload = { group: {\n    \n    hide : [\"Dashboard_Signin\"],show:[\"Dashboard_Register\"]\n}\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1080,"wires":[["b546ea85cb1eefb8"]]},{"id":"b546ea85cb1eefb8","type":"ui_ui_control","z":"49cccaa48d3e703f","name":"Go to Register Group","x":1300,"y":1080,"wires":[[]]},{"id":"f005bf9ccaa69615","type":"ui_toast","z":"49cccaa48d3e703f","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Medicine added","name":"Medicine added","x":980,"y":1300,"wires":[[]]},{"id":"7350b659ce381395","type":"function","z":"49cccaa48d3e703f","name":"","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1320,"wires":[["f005bf9ccaa69615"]]},{"id":"3dca986be16cbae2","type":"ui_audio","z":"49cccaa48d3e703f","name":"","group":"c35e46a8.b04ce8","voice":"urn:moz-tts:sapi:Microsoft Heera - English (India)?en-IN","always":true,"x":1540,"y":1660,"wires":[]},{"id":"0cae8d086b761e3b","type":"function","z":"49cccaa48d3e703f","name":"","func":"msg.payload=\"Its time to take \"+msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":1640,"wires":[["3dca986be16cbae2","40ac8c39f471a132"]]},{"id":"83c94567169d172e","type":"comment","z":"49cccaa48d3e703f","name":"Fetching Medicine Data ","info":"","x":320,"y":1580,"wires":[]},{"id":"943a0d829901b25f","type":"http in","z":"49cccaa48d3e703f","name":"GET MEDICINE DETAILS","url":"/medicine_details","method":"get","upload":false,"swaggerDoc":"","x":510,"y":1760,"wires":[["366391ba134e9327"]]},{"id":"fb6d56f93fcf847e","type":"http response","z":"49cccaa48d3e703f","name":"","statusCode":"","headers":{},"x":1130,"y":1760,"wires":[]},{"id":"366391ba134e9327","type":"function","z":"49cccaa48d3e703f","name":"","func":"msg.payload=flow.get(\"med_details\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1760,"wires":[["fb6d56f93fcf847e"]]},{"id":"7f43f700c615fecf","type":"comment","z":"49cccaa48d3e703f","name":"Medicine Data for mobile app","info":"","x":340,"y":1700,"wires":[]},{"id":"29e12a886bfcaaab","type":"ui_button","z":"49cccaa48d3e703f","name":"","group":"e9ff2fa2bff7c00f","order":2,"width":0,"height":0,"passthru":false,"label":"Already Registered?Sign In","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":900,"wires":[["3f114f15b2cc8317"]]},{"id":"5d536858b27379b3","type":"http in","z":"49cccaa48d3e703f","name":"ADD MEDICINE","url":"/add_medicine","method":"get","upload":false,"swaggerDoc":"","x":460,"y":1840,"wires":[["71575a3e4a5a9bb8"]]},{"id":"25f0111da5ef4fa0","type":"http response","z":"49cccaa48d3e703f","name":"","statusCode":"","headers":{},"x":1110,"y":1840,"wires":[]},{"id":"71575a3e4a5a9bb8","type":"function","z":"49cccaa48d3e703f","name":"","func":"name=msg.payload.name\ndate=msg.payload.date\ntime=msg.payload.time\nuname=global.get(\"uname\")\nmsg.payload=msg.payload={\n    \"_id\":uname+\" \"+date+\" \"+time,\n    \"name\":name,\n    \"date\":date,\n    \"time\":time\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1840,"wires":[["25f0111da5ef4fa0","0d89c9c46549cce7"]]},{"id":"5de91d3bb93739f1","type":"http in","z":"49cccaa48d3e703f","name":"LOGIN","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":410,"y":1940,"wires":[["aae697a2da8cce20"]]},{"id":"894575eaa09889aa","type":"http response","z":"49cccaa48d3e703f","name":"","statusCode":"","headers":{},"x":1390,"y":1920,"wires":[]},{"id":"aae697a2da8cce20","type":"function","z":"49cccaa48d3e703f","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":1940,"wires":[["c6ca1cf30d1708c9"]]},{"id":"b12ecdfa056e8342","type":"function","z":"49cccaa48d3e703f","name":"","func":"if(msg.payload!=null)\nmsg.payload=0\nelse\nmsg.payload=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1920,"wires":[["894575eaa09889aa"]]},{"id":"b82da486.9fc8d8","type":"ui_group","name":"Signin","tab":"d65502b1.ee517","order":2,"disp":true,"width":"6","collapse":false},{"id":"b55b13dcd2074faf","type":"cloudant","host":"https://apikey-v2-2lqfmesvwl92lkbocgqhshq97zoy7ktwvkf2s1jylca2:9d93fed267d25768859b21eebf8c46ac@e3214a45-edd5-46b1-8461-5419d67d4ce0-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"6ab6faf38e0ed66a","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c35e46a8.b04ce8","type":"ui_group","name":"MedicineData","tab":"d65502b1.ee517","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e9ff2fa2bff7c00f","type":"ui_group","name":"Register","tab":"d65502b1.ee517","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d65502b1.ee517","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]